a {
    color: inherit;
    text-decoration: inherit;
}
  
a:hover {
color: inherit;
text-decoration: inherit;
}

.navbar {
    margin-bottom: 40px;
}

.auth-button {
    margin: 20px 20px;
}

span {
    font-size: 20px;
    color: white;
    margin: 0;
}