a {
    color: inherit;
    text-decoration: inherit;
}
  
a:hover {
    text-decoration: inherit;
    color: #f614b2;
}

.action-button {
    margin-right: 20px;
}

.name {
    font-size: 20px;
    color: white;
    margin: 0 20px 0 0;
}

.link-home {
    color: #f614b2;
}