.form {
    margin-top: 40px;
}

.control {
    margin-left: 20px;
}

.inline {
    display: flex;
}

.remove {
    margin-left: 5px;
    height: 31px;
}

.group {
    border: 1px solid #343a40;
    padding: 16px;
    border-radius: 20px;
    background-color: #FEF9FF;
    color: white;
}

.form-text {
    color: #DDDDDD;
}

.create {
    margin-bottom: 40px;
}