.footer {
    color: white;
    padding: 20px 20px;
    margin-top: 40px;

    position: absolute;
    bottom: 0;
    width: 100%;
    /* Fixed height for footer */
    height: 90px;
}

.footer-group {
    text-align: end;
}

.footer-group > a {
    text-decoration: underline;
}